<div class="container">
    <nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mongo Scraper</a>
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/articles/saved">Saved Articles</a>
    <button class="btn float-left" id="scrape">Scrape New Articles</button>
    <button class="btn float-left" id="clear-articles">Clear Articles</button>
  </nav>

  <div class="bg"></div>
  <div class="jumbotron jumbotron-fluid">
    <h1>Mongo Scraper</h1>
    <h4>National Public Radio Edition</h4>
  </div>

  <br>
  <div class="filler"></div>
  {{#each articles}}
    {{#unless saved}}
      <div class="card" id="results">
        <div class="card-header">
            <h6><a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.title}}</a>
            <a class="btn mt-auto btn-light btn-outline-dark float-right save" data-id="{{this._id}}">Save Article</a></h6>
        </div>
        <div class="card-body flex-column">
          <p class="card-text">{{this.teaser}}</p>
        </div>
      </div>
    {{/unless}}
  {{/each}}

</div>